/*
ELEKTRON © 2026 - now
Written by melektron
www.elektron.work
04.08.26, 15:25

Main page layout
*/

#main {
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "navbar view";

    /* 
    in landscape mode, everything (including the navbar) must be
    in the safe area in case we are running as mobile PWA.
    So the main element enforces the safe areas
    */
    padding:
        var(--safe-top)
        var(--safe-right)
        var(--safe-bottom)
        var(--safe-left);

    /* in landscape mode navbar icons are M sized */
    --navbar-icon-size: var(--icon-m);
    --navbar-padding: var(--size-2);
    --navbar-item-padding: var(--size-2);
}

#navbar {
    grid-area: navbar;
    /*background: color-mix(in srgb, aquamarine 70%, transparent); */

    display: flex;

    /* this element is always transparent, it shouldn't interact with the pointer */
    pointer-events: none;
}

#navbar-inner {
    background: var(--surface);

    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: var(--navbar-padding);
    
    gap: var(--navbar-padding);

    /* re-enable pointer events for descendants of navbar-inner */
    pointer-events: auto;
}

#navbar-inner a {
    display: block;
    aspect-ratio: 1/1;
    padding: var(--navbar-item-padding);
    
    background: var(--surface-3);
    color: var(--text);
    border-bottom: none;    /* disable border that is present normal links */
    border: 1px solid transparent;
    border-radius: var(--radius-m);
}
#navbar-inner a:hover {
    background: var(--surface-hover);
    color: inherit;
    border-bottom: none;
}
#navbar-inner a:active {
    background: var(--surface-active);
}
#navbar-inner a.nav-active {
    color: var(--accent);
    background: var(--surface-active);
    border: 1px solid var(--border);
}


/* this marks the navbar entry that is located at the bottom */
#navbar-inner a.nav-end {
    margin-block-start: auto;
}

#navbar-inner svg {
    width: var(--navbar-icon-size);
    height: var(--navbar-icon-size);
}

/* This is the main scrollable container */
#root-view {
    grid-area: view;

    min-height: 0;
    /* we only allow scrolling in y direction */
    overflow-y: auto;
    overflow-x: hidden;
    /* when end of scroll area is reached, the scroll 
    shouldn't continue scrolling the parent. */
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
}


@media (orientation: portrait) and (max-width: 768px) {
    #main {
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas: "view";

        /* 
        in portrait mode mode, the navbar is removed
        from the grid layout and hovers above the rest of the content,
        which should extend to the full screen so it can fade-scroll
        beneath the unsafe areas. The safe areas are instead
        enforced on the main scrolling content.
        */
        padding: unset;

        /* in portrait mode navbar icon size is increased */
        --navbar-icon-size: var(--icon-xl);
        /* new variables for navbar position calculation */
        --navbar-unsafe-overlap: var(--size-3);
        --navbar-height: calc(var(--navbar-icon-size) + 2*var(--navbar-padding) + 2*var(--navbar-item-padding));
        --safe-bottom-incl-navbar: calc(var(--safe-bottom) + var(--navbar-height) - var(--navbar-unsafe-overlap) + var(--size-2));
    }

    #navbar {
        /* detach navbar from grid on mobile */
        grid-area: unset;
        
        z-index: var(--layer-overlay);
        position: fixed;
        bottom: max(calc(var(--safe-bottom) - var(--navbar-unsafe-overlap)), 0px);
        left: var(--safe-left);
        right: var(--safe-right);

        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #navbar-inner {
        flex-direction: row;

        border-radius: calc(var(--navbar-height) / 2);
    }

    #navbar-inner a {
        --inner-radius: calc(var(--navbar-height) / 2 - var(--navbar-padding));
        /* on mobile the touch navbar items are no longer necessarily square */
        aspect-ratio: unset;
        border-radius: var(--inner-radius);
        padding-inline: calc(var(--inner-radius) - var(--size-2));
    }

    #root-view {
        /* we gradually fade out content in the unsafe 
        areas at the top and bottom to give the effect that
        the content is scrolling beneath it */
        --fade-top: calc(var(--safe-top) + var(--size-2));
        --fade-bottom: calc(var(--safe-bottom-incl-navbar) + var(--size-2));

        /* 
        unfortunately there currently is no proper way to gradually blur
        the background in CSS, so for now we don't blur at all and only 
        gradually fade out the scroll container towards the side.
        In the future they might implement proper filter gradients,
        and then we can implement blur using overlay elements
        as recommended in https://chatgpt.com/share/6a7393fd-5194-83eb-8461-fc55e2704be5.
        https://stackoverflow.com/questions/67853607/how-do-i-graduallyfeather-gradient-transition-blur-in-css
        */
        mask-image:
            linear-gradient(
                to bottom,
                transparent,
                black var(--fade-top),
                black calc(100% - var(--fade-bottom)),
                transparent
            );
    }

    #root-view-inner {
        /* 
        In portrait mode, #root-view extends to the entire screen, so
        the #root-view content can scroll beneath the unsafe areas.
        To ensure the scroll ends show all content in the safe areas,
        the inner scrolling element #root-view-inner must enforce
        the safe areas.
        The bottom padding is extended by the size of the navbar, so 
        content always shows above the navbar when scrolling all the
        way to the bottom. */
        padding:
            var(--safe-top)
            var(--safe-right)
            var(--safe-bottom-incl-navbar)
            var(--safe-left);
    }

}
