/*
ELEKTRON © 2026 - now
Written by melektron
www.elektron.work
31.08.26, 15:04
*/

.sbview-container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-areas: 
        "titlebar titlebar titlebar"
        "sidebar divider main";
    grid-template-columns: 
        var(--sidebar-width) 
        calc(var(--divider-border-size) + 1px) 
        1fr;
    grid-template-rows: auto 1fr;

    --divider-border-size: var(--padding-m);
}

.sbview-title-bar {
    grid-area: titlebar;
    /*border: 5px solid green;*/
    border-bottom: 1px solid var(--border);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-m);
    gap: var(--padding-m);
}
.sbview-sidebar {
    grid-area: sidebar;
    /*border: 5px solid pink;*/
}
.sbview-divider {
    grid-area: divider;
    background-color: var(--border);
    cursor: ew-resize;
    /* divider border on right serves as enlarged hitbox.
    The hitbox doesn't extend to the left as this space may
    be inhabited by the scroll track of the sidebar */
    border-right: var(--divider-border-size) solid var(--bg);
    border-bottom: var(--safe-bottom-incl-navbar) solid var(--bg);
}
.sbview-divider:active {
    background: var(--border-hover);
}
.sbview-main-container {
    grid-area: main;
    /*border: 5px solid lightblue;*/
}

/* applied to scrollable containers in sbview (sidebar and main) */
.sbview-scrollable-y {
    min-height: 0;
    /* we only allow scrolling in y direction */
    overflow-y: auto;
    overflow-x: hidden;
    /* when end of scroll area is reached, the scroll 
    shouldn't continue scrolling the parent. 
    TODO: decide if we actually need this bc it also 
    prevents the default spring effect in firefox in some
    situations. */
    /*overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;*/
}
.sbview-sidebar-inner {
    /* Child components may use this container's dimensions
    to adjust their layout */
    /*container-name: sbview-sidebar;
    container-type: size;*/

    /* TODO: simplify this so the safe areas and such are only considered in actual portrait mode by media query. */
    padding:
        calc(var(--safe-top) + var(--padding-m))
        var(--padding-m)
        calc(var(--safe-bottom-incl-navbar) + var(--padding-m)) /* bottom always needs additional space to navbar */
        max(var(--safe-left), var(--padding-m));
}
.sbview-main-inner {
    /* Child components may use this container's dimensions
    to adjust their layout */
    /*container-name: sbview-main-container;
    container-type: size;*/

    padding:
        calc(var(--safe-top) + var(--padding-m))
        max(var(--safe-right), var(--padding-m))
        calc(var(--safe-bottom-incl-navbar) + var(--padding-m)) /* bottom always needs additional space to navbar */
        0px; /* this is replaced by the divider dragging area */
}

/* In only main layout, we hide the sidebar and divider */
.sbview-layout-only-main.sbview-container {
    grid-template-areas: 
        "titlebar"
        "main";
    grid-template-columns:
        1fr;
}
.sbview-layout-only-main > .sbview-sidebar,
.sbview-layout-only-main > .sbview-divider {
    display: none;
}
.sbview-layout-only-main > .sbview-main-container {
    /* main now needs left padding because divider no longer exists */
    padding-left: var(--padding-m);
}

/* In only sidebar layout, we hide the main and divider */
.sbview-layout-only-sidebar.sbview-container {
    grid-template-areas: 
        "titlebar"
        "sidebar";
    grid-template-columns:
        1fr;
}
.sbview-layout-only-sidebar > .sbview-main-container,
.sbview-layout-only-sidebar > .sbview-divider {
    display: none;
}


@media (orientation: portrait) and (max-width: 768px) {
    /*
    TODO: adjust layout for mobile (only show one of the panels at a time)
    */
}