/*
ELEKTRON © 2026 - now
Written by melektron
www.elektron.work
31.08.26, 15:04
*/

.sbview {
    height: 100%;
    width: 100%;
    overflow: hidden;

    --layout-transition: 250ms ease-out /*cubic-bezier(.4, 0, .2, 1)*/;

    --divider-border-size: var(--padding-m);
    --divider-width: calc(var(--divider-border-size) + 1px);

    display: grid;
    grid-template-areas: 
        "titlebar titlebar titlebar"
        "sidebar divider main";
    grid-template-columns: 
        var(--sidebar-width) 
        var(--divider-width)
        minmax(0, 1fr);
    grid-template-rows: auto 1fr;

    transition: grid-template-columns var(--layout-transition);
}

.sbview-title-bar {
    grid-area: titlebar;
    border-bottom: 1px solid var(--border);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-m);
    gap: var(--padding-m);
}
.sbview-sidebar {
    grid-area: sidebar;
    overflow: hidden;

    /* we want to right-align the inner container
    so it overflows to the left side and looks like
    it's being pushed away when animating */
    display: flex;
    justify-content: flex-end;

    /* fade in/out when shown/hidden */
    transition: opacity var(--layout-transition);
}
.sbview-divider {
    grid-area: divider;
    background-color: var(--border);
    background-clip: content-box;
    cursor: ew-resize;
    /* divider border on right serves as enlarged hitbox.
    The hitbox doesn't extend to the left as this space may
    be inhabited by the scroll track of the sidebar */
    padding-right: var(--divider-border-size);
}
.sbview-divider:active {
    background: var(--border-hover);
}
.sbview-main {
    grid-area: main;
    overflow: hidden;

    /* fade in/out when shown/hidden */
    transition: opacity var(--layout-transition);
}

.sbview-sidebar-inner {
    /* the sidebar-min-width also comes from rust so 
    it matches the limit enforced while resizing. 
    When switching layouts and the sidebar-width is greater
    than the min-width, we use that, so it looks like the full sidebar
    is being pushed away. */
    min-width: max(var(--sidebar-min-width), var(--sidebar-width));

    /* Child components may use this container's dimensions
    to adjust their layout */
    /*container-name: sbview-sidebar;
    container-type: size;*/

    /* TODO: simplify this so the safe areas and such are only considered in actual portrait mode by media query. */
    padding:
        calc(var(--safe-top) + var(--padding-m))
        var(--padding-m)
        calc(var(--safe-bottom-incl-navbar) + var(--padding-m)) /* bottom always needs additional space to navbar */
        max(var(--safe-left), var(--padding-m));
}
.sbview-main-inner {
    /* this comes from rust so it's consistent with the programmatic limit */
    min-width: var(--main-min-width);

    /* Child components may use this container's dimensions
    to adjust their layout */
    /*container-name: sbview-main-container;
    container-type: size;*/

    padding:
        calc(var(--safe-top) + var(--padding-m))
        max(var(--safe-right), var(--padding-m))
        calc(var(--safe-bottom-incl-navbar) + var(--padding-m)) /* bottom always needs additional space to navbar */
        0px; /* this is replaced by the divider dragging area */

    /* here we animate the left padding that is added
    when switching to main-only layout. This way
    the divider is smoothly being replaced by this padding
    without any jumps */
    transition: padding-left var(--layout-transition);
}

/* properties to make the containers scrollable */
.sbview-sidebar-inner,
.sbview-main-inner {
    /* 100% height so this element doesn't overflow, 
    instead forcing the content to overflow if
    necessary */
    height: 100%;
    width: 100%;

    min-height: 0;

    /* we only allow scrolling in y direction */
    overflow-y: auto;
    overflow-x: hidden;

    /* when end of scroll area is reached, the scroll 
    shouldn't continue scrolling the parent. 
    TODO: decide if we actually need this bc it also 
    prevents the default spring effect in firefox in some
    situations. */
    /*overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;*/
}

/* In only main layout, we minimize the sidebar and divider */
.sbview[data-layout="only-main"] {
    /* Here we must not change the structure (position of fractions), 
    only the values of the concrete sizes (sidebar width and divider
    width). Otherwise it doesn't properly animate. https://stackoverflow.com/a/43921717 */
    grid-template-columns:
        0px
        0px
        minmax(0, 1fr);
}
.sbview[data-layout="only-main"] > .sbview-main > .sbview-main-inner {
    /* main now needs left padding because divider no longer exists */
    padding-left: var(--padding-m);
}
.sbview[data-layout="only-main"] > .sbview-sidebar {
    opacity: 0;
    pointer-events: none;
}

/* In only sidebar layout, we hide the main and divider */
.sbview[data-layout="only-sidebar"] {
    /* Here we must not change the structure (position of fractions), 
    only the values of the concrete sizes (sidebar width and divider
    width). Otherwise it doesn't properly animate. https://stackoverflow.com/a/43921717 */
    grid-template-columns:
        100%
        0px
        minmax(0, 1fr);
}
.sbview[data-layout="only-sidebar"] > .sbview-main {
    opacity: 0;
    pointer-events: none;

    & > .sbview-main-inner {
        /* main also needs the padding left while hidden, because
        divider is still removed here and without it it would still look 
        like the space between main and sidebar gets slightly smaller during
        the hiding animation */
        padding-left: var(--padding-m);
    }
}

@media (prefers-reduced-motion: reduce) {
    .sbview,
    .sbview-sidebar,
    .sbview-main,
    .sbview-main-inner {
        transition: none;
    }
}

@media (orientation: portrait) and (max-width: 768px) {

    .sbview,
    /* only sidebar is now the same as the default layout */
    .sbview[data-layout="only-sidebar"] {
        /* titlebar and divider removed from grid layout */
        grid-template-areas: 
            "sidebar main";
        grid-template-columns: 
            100%
            minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr);
        
        .sbview-mobile-back-button {
            display: none;
        }
    }  
    .sbview[data-layout="only-main"] {
        /* In only main layout, we minimize the sidebar */
        grid-template-columns:
            0px
            minmax(0, 1fr);
        
        .sbview-mobile-back-button {
            display: block;
            /* the chevron icon has to be transformed a bit
            to look natural... for some reason they make it unnatural in the
            icon libraries */
            svg {
                transform: scale(1.3) translateX(-1px);
            }
        }
    }
    
    .sbview-title-bar {
        grid-area: unset;
        border-bottom: none;

        padding: unset;
        z-index: var(--layer-overlay);
        position: fixed;
        top: var(--titlebar-top-spacing);
        left: max(var(--safe-left), var(--padding-m));
        right: max(var(--safe-right), var(--padding-m));
    }
    .sbview-divider {
        /* divider doesn't exist in portrait view */
        display: none;
        /* this may be needed in case we ever introduce divider 
        in mobile portrait view, where the line should stop above the navbar */
        padding-bottom: var(--safe-bottom-incl-navbar);
    }

    .sbview-sidebar-inner,
    .sbview-main-inner {
        /* on portrait both sidebar and main are always fullscreen,
        extending to the entire viewport. For this reason, we set the
        min-width to the viewport width, so during layout
        switch the layouts don't change size.
        TODO: check if this causes any problems in the future */
        min-width: 100vw;

        /* on portrait, both sidebar and main get paddings that are
        adjusted for them being fullscreen and accounting for the safe areas */
        padding:
            calc(var(--safe-top-incl-titlebar) + var(--padding-m))
            calc(var(--safe-right) + var(--padding-m))
            calc(var(--safe-bottom-incl-navbar) + var(--padding-m))
            calc(var(--safe-left) + var(--padding-m));
        
        /* they also get the fade outs to make content seems
        to scroll beneath navbar and titlebar */
        mask-image: var(--fullscreen-unsafe-area-fadeout);
    }

    /* hide desktop-only items in mobile */
    .sbview-desktop-only {
        display: none !important;
    }
}

/* exact inverse of the above query to hide mobile-only items
only when in desktop mode. This way we don't need to explicitly
specify display: to show them and can accommodate for different
display values of different elements */
@media (orientation: landscape), (min-width: 769px) {
    .sbview-mobile-only {
        display: none !important;
    }
}